body {
  margin: 0px;
}

/*----------------------------------------------topo---------------------------------------------------------*/

#topo {
  background-color: #04c8b1;
}

/*#topo img {
  width: 115px;
  height: 100px;
}*/

/*----------------------------------------------corpo--------------------------------------------------------*/

#corpo {
  
  /*display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;*/
}

#carro {
  /*background-color: #aeadad;
  height: 200px;
  width: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;*/
  border-radius: 20px;
}

#inf {
  background-color: #e6e6e6;
  border: 1px solid black;
  /*height: 400px;
  width: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;*/
}
