body {
  margin: 0px;
  background-color: rgb(231, 231, 231);
}

/*  ------------------------------------------          TOPO      -------------------------------------------------  */

#topo {
  background: linear-gradient(to bottom, #d6f5f5, #33cccc);
  /*background-color: orange;
  
  /*height: 80px ;*/

  /*position:relative*/
}

#link_perfil {

  border: 1px solid black;
  border-radius: 5px;
  background-color: darkorange;

  /*position: absolute;
    top:20px;
    left: 1220px;*/
}

#link_perfil a {
  text-decoration: none;


  /*height: 56px;*/
}


/* ----------------------------------------   CORPO  ----------------------        */


#corpo {
  /*background: linear-gradient(to bottom, #d6f5f5, #33cccc);*/
  /*background-color: rgb(231, 231, 231);

  height: 539px;

  /*position: relative;*/
}


#links {
  /*border: 1px solid black;*/
  /*position:relative;
    top:100px;
    left:250px;

    width: 850px;
    height: 400px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;*/
}


.carros {
  /*background-color: rgb(226, 224, 224);*/
  /*width: 300px;
    height: 380px;*/
  transition: .3s ease-in-out;
}

.carros:hover {
  box-shadow: 3px 3px 3px rgb(78, 78, 78);
}

/*card do seminovo*/

#card_seminovo img {

  /*width: 250px;
  height: 250px;*/

  transition: .5s ease-in-out;
}

#card_seminovo a {
  position: absolute;
  /*display: block;
    width: 300px;
    height: 380px;*/

}




/*card do antigo*/

#card_antigo img {

  /*width: 250px;
  height: 250px;*/

}

#card_antigo a {
  position: absolute;
  /*display: block;
    width: 300px;
    height: 380px;*/

}

#card_antigo p {
  position: absolute;
  left: 125px;
  bottom: 40px;

}