/*body {
  margin: 0px;
}*/

/*-----------------------------------------TOPO -----------------------------------------------------*/

#topo {
  background-color: #04c8b1;
}

#topo a {
  transition: .1s ease-in-out;
}

#topo a:hover {
  border: solid 3px;
}

/*---------------------------------------CORPO------------------------------------------------------*/

#corpo {
  position: relative;
}

#filtros {

  background-color:
    /*width: 120px;
  height: 80px;
  margin: 20px;*/
}

#escolha {
  border: 1px solid #363636;
  background-color: #dee3de;
  /*width: 300px;
  height: 1800px;
  
  margin-left: 10px;*/
  display: inline-block;

}


#space-carros {


  background-color: #ffffff;
  /*width: 1000px;
  display: flex;
  flex-direction: column;
  float: right;*/
  display: inline-block;

}

/*
.carro {
  border: 1px solid black;
  margin: 25px;
  margin-bottom: 50px;
  height: 150px;
  width: 900px;
}
*/
.carro {
  border: 3px solid #303030;
  margin: 25px;
  margin-bottom: 50px;
  height: 200px;
  width: 700px;
  background-color: #a3a3a3;

}


.carro img {
  height: 194px;
  width: 300px;
  float: left;
  align-items: center;
}




.carro a {
  color: #1c1c1c;
  text-decoration: none;
  position: relative;
  top: 80px;
  left: 150px;
}

.carro p {
  position: relative;
  top: 30px;
  left: 110px;
}