/*main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
*/
#topo {
  background: linear-gradient(to bottom, #d6f5f5, #33cccc);

}
/*#link_perfil {

  border: 1px solid black;
  border-radius: 5px;
  background-color: darkorange;


}*/

/*------------------Corpo----------------------*/


/*#card_seminovo{
  border: 1px solid black;
  background-color: red;
  
}

#card_antigo{
  border: 1px solid black;
  background-color: green;
  
}*/
