.body{
    margin:0px;
}

/*              TOPO                 */

.topo{
    background-color: orange;
    margin-top: -21px;
    margin-left: -8px;
    margin-right: -8px;

    height: 100px;
}

#titulo{
    text-shadow: 2px 2px white;
}

#perfil{
    
    position: absolute;
    top:20px;
    left:1580px;
}


/*              CORPO              */
.corpo{
    background-color: rgb(206, 204, 204);
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom:-3px;


    height:890px;
}


#seminovo{
    font-size: x-large;
    position: absolute;
    top: 400px ;
    left: 400px;
    

}

#seminovo:hover{
    font-size: xx-large;
    color: black;
}


#antigo{
    font-size: x-large;
    position: absolute;
    top: 400px ;
    left: 1000px;

}


#antigo:hover{
    font-size: xx-large;
    color: black;
}