.topo{
    background-color:orange;
    background-position: top;
}
.login{
    background-color:green;
    background-position: center;
}
.titulo{
    text-align: center;
}

.linkMeuPerfil{
    
}

.centro{
    background-color: white;
}
body{
    background-color: gray;
}